export SERVER_PORT=8080
export SESSION_SECRET=MySecretSession

export REDIS_HOST="redis"
export REDIS_PORT=6379

# Environment variables declared in this file are automatically made available to Prisma.
# See the documentation for more detail: https://pris.ly/d/prisma-schema#accessing-environment-variables-from-the-schema

# Prisma supports the native connection string format for PostgreSQL, MySQL, SQLite, SQL Server, MongoDB and CockroachDB.
# See the documentation for all the connection string options: https://pris.ly/d/connection-strings

export DB_HOST="postgres"
export DB_USER="dagger"
export DB_PASS="XkfhrPGef"
export DB_PORT="5432"
export DB_NAME="daggerdb"

export DATABASE_URL="postgresql://dagger:XkfhrPGef@postgres:5432/daggerdb?schema=public"